.env
composer.lock
.idea/
.Build
.php_cs.cache
vendor/
.vscode/
.database/
/public/typo3
/public/fileadmin
/public/typo3temp
/public/uploads
/public/index.php
/public/.htaccess
/public/typo3conf/PackageStates.php
/public/typo3conf/
/var/
!/var/tests/.gitkeep
/tests/Acceptance/Support/_generated
deploy_rsa
!/public/typo3conf/LocalConfiguration.php
node_modules/
Vendor/
*.sql