.env
composer.lock
.idea/
.Build
.php_cs.cache
vendor/
.vscode/
.database/
/public/typo3
/public/fileadmin
/public/typo3temp
/public/uploads
/public/index.php
/public/.htaccess
/public/typo3conf/*
!/public/typo3conf/AdditionalConfiguration.php
/var/
!/var/tests/.gitkeep
/tests/Acceptance/Support/_generated
deploy_rsa
node_modules/
Vendor/
update_aftersync.sql
.htaccess_staging