<html xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">
      <header id="header" class="main-header">
        <div class="header-top">
            <f:format.raw>{TOPHEADER}</f:format.raw>
        </div>
        <div class="container">
            <f:format.raw>{LOGO}</f:format.raw>
            <ul class="header-buttons">
                <li><a class="nav-trigger">Menu<span></span></a></li>
            </ul>
            <nav class="nav">
                <f:format.raw>{NAVIGATION}</f:format.raw>
            </nav>
        </div>
    </header>
</html>