<html xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">
      <header id="header" class="main-header">
        <div class="header-top d-inline-block w-100">
            <f:cObject 
                typoscriptObjectPath="lib.dynamicContent" 
                data="{colPos:'0', pageUid: topHeaderId}" />
        </div>
        <div class="container d-flex justify-content-between">
            <a class="main-logo" href="/">
                <f:image src="{logosrc}" 
                    width="221m"
                    alt="Treffpunkt Thierolf" />
            </a>
            <ul class="header-buttons">
                <li><a class="nav-trigger">Menu<span></span></a></li>
            </ul>
            <f:render partial="Navigation/Main" arguments="{_all}" />
        </div>
    </header>
</html>