/*!***********************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/resolve-url-loader/index.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./src/scss/gslider.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************/
.glide {
  position: relative;
  margin-bottom: 1.25rem;
  overflow: hidden;
}
.glide:after, .glide:before {
  content: "";
  position: absolute;
  top: 0;
  width: 100px;
  height: 100%;
  z-index: 9;
}
.glide:after {
  left: 0;
  background-image: linear-gradient(to right, rgb(255, 255, 255), rgba(255, 255, 255, 0));
}
.glide:before {
  right: 0;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255));
}

.glide__bullets {
  position: relative;
  bottom: auto;
  left: auto;
  transform: translateX(0);
  width: 100%;
  justify-content: center;
}
.glide__bullets button:focus .glide__bullet, .glide__bullets button:hover .glide__bullet {
  border: 2px solid black;
}
.glide__bullets button.glide__bullet--active .glide__bullet {
  background-color: black;
  border: 2px solid black;
}
.glide__bullets .glide__bullet {
  background-color: #6c757d;
  width: 30px;
  height: 6px;
  border-radius: 3px;
  border: 2px solid #6c757d;
}
