/*!********************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/resolve-url-loader/index.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./src/scss/main.scss ***!
  \********************************************************************************************************************************************************************************************************************************************/
.breadcrumb_thierolf a {
  color: #6c757d;
}

.nav-item a {
  color: black;
  transition: color 0.2s ease-in-out;
}
.nav-item a.show, .nav-item a.active, .nav-item a:hover, .nav-item a:active {
  transition: color 0.2s ease-in-out;
  color: #00498d;
}

.image-overlay-content p:last-child {
  margin-bottom: 0;
}

.top-25 {
  top: 25%;
}

.site-footer .footer-area h3 {
  text-transform: none !important;
}

.news-list-item a {
  text-decoration: none;
}

.light-section {
  padding-bottom: 1.5rem;
}

.navbar_bottom.bottom_stick {
  margin-top: 0;
  position: sticky;
  bottom: 0;
  left: 0;
  z-index: 999;
}
@media (max-width: 991.98px) {
  .navbar_bottom {
    display: none;
  }
}

.frame-type-table {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

figure.table {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
