<html xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

    <f:layout name="Default" />
    <f:section name="Main">

      <div class="overlay"></div>
      <f:format.raw>{HEADER}</f:format.raw>
      <f:format.raw>{SLIDER}</f:format.raw>
      <f:format.raw>{INHALT}</f:format.raw>
      <div class="cta-bar stick">
        <f:format.raw>{GITARRENNAVI}</f:format.raw>
      </div>
      <div class="navbar_bottom">
        <f:format.raw>{NAVBOTTOM}</f:format.raw>
      </div>      
    </f:section>
</html>