<html xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

    <f:layout name="Default" />
    <f:section name="Main">

      <div class="overlay"></div>
      <f:render partial="Navigation/Breadcrumb" arguments="{_all}" />
      <div class="light-section section-block mt-7 mt-lg-12">
        <div class="container">
          <div class="section-space"></div>
          <f:cObject 
            typoscriptObjectPath="lib.dynamicContent" 
            data="{colPos:'0'}" />
        </div>
      </div>
      <f:render partial="AfterContent" arguments="{_all}" />    
    </f:section>
</html>