<html xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

    <f:layout name="Default" />
    <f:asset.css 
        href="EXT:thierolf/Resources/Public/StyleSheet/style.css"
        identifier="mainstyle" />
    <f:if condition="{theme} != 'none' && {theme} != ''">
        <f:asset.css identifier="{theme}" href="EXT:thierolf/Resources/Public/StyleSheet/{theme}.css" />
    </f:if>
    <div class="site-wrapper header-top-with">
        <f:render partial="Header" arguments="{_all}" />
        <f:render section="Main" />
        <f:render partial="Footer" arguments="{_all}" />
    </div>
</html>